{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <style>

    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12" style="text-align: center">
                <h2 id="title" style="color: black;margin-top: 30px">暂无验证进行
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4" style="text-align: right">
                <h2 id="which" style="margin-top: 100px;color: black">
                </h2>
            </div>
            <div class="col-xs-4" style="text-align: center">
                <img id="theImg" style="border: 1px solid grey;margin-top: 30px;width: 300px;height: 180px;margin-bottom: 50px">
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-xs-2 col-xs-offset-3" style="text-align: center">
                <strong>你的输入：</strong>
            </div>
            <input id="theInput" disabled='disabled' class="col-xs-2" type="text"
                   style="border: 2px solid grey;text-align: center;height: 23px;background-color: whitesmoke">
            <div class="col-xs-1 col-xs-offset-1">
                <button id="train-timer" class="btn-u btn-u-xs btn-u-red" type="button" style="width: 100%">0</button>
            </div>
        </div>
        <HR style="color: black;margin-top: 75px">
        <div style="margin-top: 75px" class="row">
            <div id="answer1" class="col-xs-5" style="text-align: center">
                第一码------你的答案：<mark id="code1"></mark>------用时：<mark id="time1"></mark>毫秒------原图：<img id="img1" style="width: 150px;height: 90px">
            </div>
            <div class="col-xs-2" style="text-align: center">
                <h2 id="usrname"></h2>
            </div>
            <div id="answer2" class="col-xs-5" style="text-align: center">
                第二码------你的答案：<mark id="code2"></mark>------用时：<mark id="time2"></mark>毫秒------原图：<img id="img2" style="width: 150px;height: 90px">
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div id="modalDlg" class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="modalContent" class="modal-body" style="text-align: center">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var parms = [];
        parms["getusrname"] = "{% url 'getusrname' %}";
        parms["setCode"] = "{% url 'setCode' %}";
    </script>
    <script src="{% static 'polls/js/fightW3.js' %}"></script>
{% endblock %}
